@import 'includes/fonts';

//--COLOR PALETTE
$ash: #FCFCFC; 
$gritty: #0c0c0c; 
$mango: #FEB51A; 
$marble: #EFEFEF; 

.dis-scroll {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}

.body {
    padding-top: 96px;
}

.drawer-wrap {
    transition: transform 0.7s ease !important; 
}